body{
    font-family: "Poppins",sans-serif;
    background-color: rgb(245, 244, 240);
}
header{
    height: 3.75rem;
    background-color:rgb(255,213,204);
    position: fixed;
    width: 100%;
    z-index: 10;
}

.mobile {
    display: none;
}

header .contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
    color: rgb(81,24,73);
}
.logo {
    font-family: "Cedarville Cursive",monospace;
    display: flex;
    align-items: center;
}
.logo img{
    height: 3rem;
    margin-top: 0.4rem;
    margin-right: 0.625rem;
    width: auto;
}

.desktop ul{
    display: flex;
    align-items: center;
}



li img{
    height: 2.5rem;
    width: auto;
    padding-left: 2.5rem;
    padding-top: 0.5rem;
}

.desktop a{
    text-decoration: none;
    color: rgb(81,24,73);

}
@media screen and (max-width:600px){
    .desktop{
        display: none;
    }
    
    .mobile{
        display: contents;
    }
    .mobile ul{
        display: inline-flex;
        min-width: 100%;
        justify-content: space-around;
    }

    .mobile img {
        padding-top: 0.4rem;
        padding-left: 0;
        height: 3rem;
    }

    .header{
        position: fixed;
    }

    header .contents {
        /* ju */
        min-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .mobile .logoimg {
        
        height: 3.5rem;
        width: auto;
        position: relative;
        top: 0px;
    }
    
}
.main {
    position: relative;
    top: 3.75rem;
}

.hero-image {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255,213,204)
}

.hero-image h1 {
    font-size: 5rem;
    font-family: "Cedarville Cursive",monospace;
    border-bottom: 3px solid rgb(255,213,204);
}

@media screen and (max-width:768px){
    .hero-image h1{
        font-size: 4rem;
        border-bottom: 0px;
    }
    .hero-image {
        height: 25rem;
    }
}

.rows {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .rows img {
    border-radius: 8px;
  }
  
  /* Create four equal columnss that sits next to each other */
  .columns {
    flex: 34%;
    max-width: 30%;
    padding: 0 4px;
  }
  
  .columns img {
    margin-top: 8px;
    object-fit: cover;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two columns-layout instead of four columnss */
  @media screen and (max-width: 600px) {
    .rows{
        width: 100%;
    }
    .columns {
      flex: 50%;
      max-width: 45%;
    }
    .col3 {
        display: grid;
        min-width: 100%;
        grid-column-gap: 8px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 1px 1.4rem;
        
    }

    .col2 img {
        min-height: 48%;
    }
  }
  
  .reviews{
    width:80%;
    display: flex;
    margin: 1px auto;
    line-height: 1.6;

    
  }

  .quote{
    width: 50%;
    border-right: 1px solid rgb(253,222,156);
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }
  .quote p{
  margin-bottom: 1rem;
  font-weight: 600;
  background-color: rgb(253,222,156);
  /* display: inline-block; */
  width: 80%;
  padding: 5px;
}

.quote article{
  padding-right: 1rem;
}

#carouselExampleDark{
    width: 48%;
}

.heading-review{
    display: block;
    margin-bottom: 1rem;
    font-weight: 600;
    background-color: rgb(253,222,156);
    padding: 5px;
}

.review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    justify-content: center;
}

.review-container span {
    font-weight: 600;
}

.review-container p{
    font-style: italic;
    width: 80%;
}


.carousel-inner{
    height: 250px;
}

.carousel-item{
    height: 100%;
}

.carousel-item img {
    width: 40%;
    height: 100px;
    margin: auto;
    object-fit: contain;
}
 
@media screen and (max-width:768px){
    .reviews{
        flex-direction: column;
    }

    .quote{
        width: 100%;
        border-right: none;
        margin-bottom: 1rem;
        padding-left: 0px;
        border-bottom: 1px solid rgb(253,222,156);
    }

    .quote p{
        width: 100%;
    }

    .quote article{
        padding-bottom: 1rem;
    }

    #carouselExampleDark{
        width: 100%;
    }

    .heading-review{
        width: 100%;
    }


}
.address-section{
    width: 75%;
}
.about{
    display: flex;
    width: 70%;
    margin: 1rem auto;
    line-height: 1.6;
    padding-bottom: 2rem;
}

.number{
    color: blueviolet;
}

.address span{
    font-weight: 600;
    display: block;
    margin-bottom: 1rem;
}

.address{
    margin-bottom: 2rem;
}

.hours{
    display: flex;
    align-items: center;
    text-align: right;
    width: 25%;
}

.time span{
    font-weight: 600;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1172px) {

    .about {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .address-section{
        text-align: center;
        width: auto;
        margin-bottom: 2rem;

    }
    .hours {
        width:auto;
    }
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
	margin-top:16px;
    color: white;
}

iframe{
    border-radius: 8px;
}
  

@media screen and (max-width:640px){
    iframe{
        height: 200px;
        width: 300px;
    }

    .review-container{
        border-bottom: 1px solid rgb(253,222,156);
    }

    .address-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .float{
        bottom: 10px;
        right: 10px;
    }
}
 


